<body> <p  style = "font-family:georgia,garamond,serif;font-size:16px;text-align:justify"></body>
We convert all xlsx to csv files and we save them in a specific path. We replace all DataStream errors "$$ER" to NaN values, to do this we use <a href="https://www.w3schools.com/python/python_regex.asp"> regex expressions </a>. The follow link explain how to <a href="https://www.youtube.com/watch?v=4IhfbxhoAn8"> create a server in your own computer.</a>

In [17]:
import ast
import glob, os
import pandas as pd
import numpy as np
credentials = ast.literal_eval(open(r"C:\Users\pvilas\OneDrive - unizar.es\Python\credentials.txt", "r").read())

<body> <p  style = "font-family:georgia,garamond,serif;font-size:16px;text-align:justify"></body>
First we transform the files that all the data is in an unique excel file.

In [42]:
# Get all .xlsx files in the path
os.chdir(r"C:\Users\pvilas\OneDrive - unizar.es\Tesis\Artículo 2 ISP\1. Data\2. Listado")
files_xlsx=[]
# We create a list with the files that finish in *.xlsx
for file in glob.glob("*.xlsx"):
    files_xlsx.append(file)
# We read the file with pandas and we save it as csv
for file in files_xlsx:
    df_excel=pd.read_excel(r"C:\Users\pvilas\OneDrive - unizar.es\Tesis\Artículo 2 ISP\1. Data\2. Listado" + "\\" + file)
    # before save excel as csv we transform the datastream errors "$$ER" to NaN values -- we use regex expresions
    df_excel= df_excel.replace(r'^..ER: ', np.nan, regex=True)    
    name = file.replace("xlsx", "csv")
    df_excel.to_csv(r"C:\Users\pvilas\OneDrive - unizar.es\Tesis\Artículo 2 ISP\1. Data\3. CSV--Database" + "/" + name,
                   index =False, encoding='utf-8-sig')

<body> <p  style = "font-family:georgia,garamond,serif;font-size:16px;text-align:justify"></body>
We merge with pandas the Excel files when the information is in various files. We transform the files into csv.

In [3]:
# The paths of the files that the data is in several documents 
paths=[r"C:\Users\pvilas\OneDrive - unizar.es\Tesis\Artículo 2 ISP\1. Data\2. Listado\esg scores"
      , r"C:\Users\pvilas\OneDrive - unizar.es\Tesis\Artículo 2 ISP\1. Data\2. Listado\market based"]
names =["monthly_esg.csv","daily_market.csv"] #name of the new document

# We merge each excel file that are in the paths of the list  "pahts"
for path, name in zip (paths, names):
    os.chdir(path)
    files_xlsx=[]
    df_excel = pd.DataFrame() 
    
    # list with the files to merge
    for file in glob.glob("*.xlsx"):
        files_xlsx.append(file)    
    #we merge the excel files
    for file in files_xlsx:
        df_excel = df_excel.append(pd.read_excel(path + "/" + file), ignore_index=True)
    
    # before save excel as csv we transform the datastream errors "$$ER" to NaN values -- we use regex expresions
    df_excel= df_excel.replace(r'^..ER: ', np.nan, regex=True)
    # we save the csv
    df_excel.to_csv(r"C:\Users\pvilas\OneDrive - unizar.es\Tesis\Artículo 2 ISP\1. Data\3. CSV--Database\%s" % name,
                   index =False, encoding='utf-8-sig')

<body> <p  style = "font-family:georgia,garamond,serif;font-size:16px;text-align:justify"></body>
The packages that we need to create the database

In [2]:
import psycopg2 
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import ast

<body> <p  style = "font-family:georgia,garamond,serif;font-size:16px;text-align:justify"></body>
We create a dictionary with the name of the files as key, the first list is the name of the columns we are interesting in, the second list will be the names of the columns in our SQL database, the third list will be the primary keys of the table in the database. The fourth item is the format of the columns (string, float, integer). The last item indicates the date format. 
Also we make the connection to the data base with the <code>engine</code> instruction.

In [28]:
# engine = create_engine('postgresql://postgres:postgres@localhost/')
# engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/paper_2')
# engine = create_engine('postgresql+psycopg2://vilicas@finance-project:Palamones1996*@finance-project.postgres.database.azure.com/azure_finance')
engine = create_engine(credentials['sqlalchemy'][0]+ 'ESGRefinitiv')

In [43]:
files={
'c_iso_country_currency' : [[ 'Alphabetic Code', 'Alpha-3 code', 'Currency', 'ENTITY' ],
[ 'currency_iso_id', 'country_iso_id', 'currency_name', 'region_name' ],
[ 'currency_iso_id', 'country_iso_id' ],
{ 'Alphabetic Code':'string', 'Alpha-3 code':'string', 'Currency':'string', 'ENTITY':'string' },
[ ]],
'classification_iso_country' : [[ 'Alpha-3 code', 'Numeric', 'English short name', 'Alpha-2 code', 'Continent' ],
[ 'country_iso_id', 'country_numeric_code', 'country_name', 'county_2', 'continent' ],
[ 'country_iso_id' ],
{ 'Alpha-3 code':'string', 'Numeric':'float64', 'English short name':'string', 'Alpha-2 code':'string', 'Continent':'string' },
[ ]],
'classification_icb_sector' : [[ 'FTAG5', 'ICBSUN', 'FTAG4', 'ICBSN', 'FTAG3', 'ICBSSN', 'FTAG2', 'ICBIN' ],
[ 'subsector_id', 'subsector_name', 'sector_code', 'sector_name', 'supersector_code', 'supersector_name', 'industry_code', 'industry_name' ],
[ 'subsector_id' ],
{ 'FTAG5':'float64', 'ICBSUN':'string', 'FTAG4':'float64', 'ICBSN':'string', 'FTAG3':'float64', 'ICBSSN':'string', 'FTAG2':'float64', 'ICBIN':'string' },
[ ]],
'classification_thomson_sector' : [[ 'TR4', 'TR4N', 'TR3', 'TR3N', 'TR2', 'TR2N', 'TR1', 'TR1N' ],
[ 'industry_id', 'industry_name', 'industry_group_code', 'industry_group_name', 'business_code', 'business_name', 'economic_code', 'economic_name' ],
[ 'industry_id' ],
{ 'TR4':'float64', 'TR4N':'string', 'TR3':'float64', 'TR3N':'string', 'TR2':'float64', 'TR2N':'string', 'TR1':'float64', 'TR1N':'string' },
[ ]],
'classification_ds_country' : [[ 'GEOG', 'INISO', 'GEOGC', 'GEOGN' ],
[ 'country_ds_id', 'country_iso_id', 'country_alpha_code', 'country_name' ],
[ 'country_ds_id' ],
{ 'GEOG':'float64', 'INISO':'string', 'GEOGC':'string', 'GEOGN':'string' },
[ ]],
'company_country' : [[ 'DSCD', 'CODOM', 'GEOG', 'COINM', 'GEOL', 'WC06027', 'WC06026', 'WC06025' ],
[ 'datastream_id', 'ds_country_domicile_id', 'ds_country_group_id', 'ds_country_incorporation_id', 'ds_county_listing_id', 'wc_county_domicile', 'wc_country_offices', 'wc_postcode_offices' ],
[ 'datastream_id' ],
{ 'DSCD':'string', 'CODOM':'float64', 'GEOG':'float64', 'COINM':'float64', 'GEOL':'float64', 'WC06027':'string', 'WC06026':'string', 'WC06025':'string' },
[ ]],
'companies_esg_refinitiv' : [[ 'internal_id', 'DSCD', 'TR4', 'FTAG5', 'RIC', 'WC06035', 'ISIN', 'TYPE', 'WC06001', 'BDATE', 'TIME', 'NAME', 'MNEM', 'WC05601' ],
[ 'internal_id', 'datastream_id', 'thomson_industry_id', 'icb_subsector_id', 'ric_code', 'worldscope_code', 'isin_code', 'instrument_type', 'company_name', 'ds_first_value', 'ds_last_value', 'ds_name', 'mnemonic', 'ticker' ],
[ 'datastream_id' ],
{ 'internal_id':'string', 'DSCD':'string', 'TR4':'float64', 'FTAG5':'float64', 'RIC':'string', 'WC06035':'string', 'ISIN':'string', 'TYPE':'string', 'WC06001':'string', 'NAME':'string', 'MNEM':'string', 'WC05601':'string' },
[  'BDATE', 'TIME' ]],
'yearly_accounting' : [[ 'Date', 'Code', 'WC06099', 'WC05350', 'WC08326', 'WC08301', 'WC02999', 'WC03351', 'WC03501', 'WC03251', 'WC01001', 'WC07011', 'WC02201', 'WC03040', 'WC02051', 'WC18199', 'WC04601', 'WC02501', 'WC01201' ],
[ 'yearly_date', 'datastream_id', 'document_currency_iso_id', 'end_fiscal_period', 'return_on_assets', 'return_on_equity', 'total_assets', 'total_liabilities', 'common_equity', 'long_term_debt', 'net_sales', 'number_of_employees', 'current_assets', 'accounts_payable', 'receivables', 'net_debt', 'additions_fixed_assets', 'net_property_plant_equipment', 'research_development_expense' ],
[ 'yearly_date', 'datastream_id' ],
{ 'Code':'string', 'WC06099':'string', 'WC08326':'float64', 'WC08301':'float64', 'WC02999':'float64', 'WC03351':'float64', 'WC03501':'float64', 'WC03251':'float64', 'WC01001':'float64', 'WC07011':'float64', 'WC02201':'float64', 'WC03040':'float64', 'WC02051':'float64', 'WC18199':'float64', 'WC04601':'float64', 'WC02501':'float64', 'WC01201':'float64' },
[  'Date', 'WC05350' ]],
'monthly_esg' : [[ 'Date', 'Code', 'TRESGS', 'TRESGCS', 'TRESGCCS', 'ENSCORE', 'CGSCORE', 'SOSCORE' ],
[ 'monthly_date', 'datastream_id', 'esg_score', 'combined_score', 'controversies_score', 'environment_pillar_score', 'governance_pillar_score', 'social_pillar_score' ],
[ 'monthly_date', 'datastream_id' ],
{ 'Code':'string', 'TRESGS':'float64', 'TRESGCS':'float64', 'TRESGCCS':'float64', 'ENSCORE':'float64', 'CGSCORE':'float64', 'SOSCORE':'float64' },
[  'Date' ]],
'daily_market' : [[ 'Date', 'Code', 'P', 'MV', 'X(P)~U$', 'X(MV)~U$', 'PI', 'RZ', 'RI', 'SPLDTE', 'SPLFCT' ],
[ 'daily_date', 'datastream_id', 'close_price', 'market_value', 'close_price_usd', 'market_value_usd', 'price_index', 'return_index_paid', 'total_return_index', 'split_date', 'split_factor' ],
[ 'daily_date', 'datastream_id' ],
{ 'Code':'string', 'P':'float64', 'MV':'float64', 'X(P)~U$':'float64', 'X(MV)~U$':'float64', 'PI':'float64', 'RZ':'float64', 'RI':'float64' },
[  'Date', 'SPLDTE', 'SPLFCT' ]],
'classification_iso_currency' : [[ 'Alphabetic Code', 'Currency', 'Status', 'Numeric Code', 'Minor unit', 'SICUR', 'MNEM', 'NAME' ],
[ 'currency_iso_id', 'currency_name', 'status', 'digit_code', 'minor_unit', 'ds_currency_symbol_id', 'ds_currency_serie_usd_id', 'ds_currency_serie_name' ],
[ 'currency_iso_id' ],
{ 'Alphabetic Code':'string', 'Currency':'string', 'Status':'string', 'Numeric Code':'float64', 'Minor unit':'float64', 'SICUR':'string', 'MNEM':'string', 'NAME':'string' },
[ ]],
'exchange_rates' : [[ 'Date', 'Code', 'ER' ],
[ 'daily_date_id', 'ds_currency_serie_id', 'exchange_rate' ],
[ 'daily_date_id', 'ds_currency_serie_id' ],
{ 'Code':'string', 'ER':'float64' },
[  'Date' ]],
'economic_series' : [[ 'UNDP Country', 'Year', 'Alpha-3 code', 'IDH', 'GDP percapita usd constant' ],
[ 'onu_country', 'yearly_date', 'country_iso_id', 'idh', 'pib_per_usd' ],
[ 'onu_country', 'yearly_date' ],
{ 'UNDP Country':'string', 'Alpha-3 code':'string', 'IDH':'float64', 'GDP percapita usd constant':'float64' },
[  'Year' ]],
}

<body> <p  style = "font-family:georgia,garamond,serif;font-size:16px;text-align:justify"></body>
We use <b>psycopg2</b> adapter to send SQL instructions to our database from python, we make the connection to the database and we open the cursor to perform SQL operations.

In [44]:
conn = psycopg2.connect(dbname="ESGRefinitiv", user=credentials['psycopg2'][0], 
                        password=credentials['psycopg2'][1], host=credentials['psycopg2'][2], port =credentials['psycopg2'][3])
cur = conn.cursor()

<body> <p  style = "font-family:georgia,garamond,serif;font-size:16px;text-align:justify"></body>
We introduce our files into SQL database as tables. The name of the the tables is the same that the names of the files. If there exist a table with the same name in our database we delete this table in CASCADE way. The importance of using <code>method="multi"</code> in this <a href="https://stackoverflow.com/questions/29706278/python-pandas-to-sql-with-sqlalchemy-how-to-speed-up-exporting-to-ms-sql">StackOverflow answer</a>

In [45]:
for file_name in files:
    tables_names =[] #We create a list with the names of our SQL tables
    #If the table exist we delete it
    cur.execute("""
    DROP TABLE IF EXISTS %s CASCADE""" % (file_name)) 
    conn.commit()
    # We read the files and we export them to the database
    ruta= r"C:\Users\pvilas\OneDrive - unizar.es\Tesis\Artículo 2 ISP\1. Data\3. CSV--Database" +"\\" + file_name +".csv"
    # Name of the columns, format of the columns and dates
    table = pd.read_csv(ruta, usecols= files[file_name][0], dtype=files[file_name][3] ,parse_dates=files[file_name][4])
    # Change the order of the columns
    table = table[files[file_name][0]]
    # Change the name of the columns
    table.columns= files[file_name][1]
    #Drop NA values in the index
    table= table.dropna(subset=files[file_name][2])
    # Table to SQL --pandas dataframe to sql
    table.to_sql(file_name, engine, if_exists = "replace", index=False, chunksize=150000, method="multi") 
    # Names of each table in the database
    tables_names.append(file_name)

<body> <p  style = "font-family:georgia,garamond,serif;font-size:16px;text-align:justify"></body>
We create the <b>primary keys</b> of our tables. Remember the third list in each dictionary key contains the primary keys.

In [46]:
for file in files:
    cur.execute("""
    ALTER TABLE %s ADD PRIMARY KEY (%s) """ % (file,",".join(files[file][2]))) 
    #ALTER TABLE table_name ADD PRIMARY KEY (key_id)
    conn.commit()

<body> <p  style = "font-family:georgia,garamond,serif;font-size:16px;text-align:justify"></body>
The are some Foreign key that do not have the unique restriction. We create this restriction.

In [14]:
# We send the instruction to ensures that all values in a column are different in this way we will be able to create a fk  
cur.execute("""ALTER TABLE "classification_iso_currency"
   ADD CONSTRAINT "ds_currency_serieusd_id" UNIQUE ("ds_currency_serie_usd_id");""")
conn.commit()

<body> <p  style = "font-family:georgia,garamond,serif;font-size:16px;text-align:justify"></body>
We create the foreign keys of our tables. The dictionary key is the name of the foreign key, the first value in the list is the table name of the foreign key, the second value is the column name, the third value is the name of the table of reference and the last value is the name of the column in the table of reference. <br>
A FOREIGN KEY is a field (or collection of fields) in one table that refers to the PRIMARY KEY/UNIQUE column in another table. The table containing the foreign key is called the child table, and the table containing the candidate key is called the referenced or parent table.

In [47]:
fk_dict={
'fk1' : [ 'companies_esg_refinitiv', 'icb_subsector_id', 'classification_icb_sector', 'subsector_id', ], 
'fk2' : [ 'companies_esg_refinitiv', 'thomson_industry_id', 'classification_thomson_sector', 'industry_id', ],  
'fk4' : [ 'company_country', 'ds_country_group_id', 'classification_ds_country', 'country_ds_id', ],  
'fk6' : [ 'company_country', 'ds_county_listing_id', 'classification_ds_country', 'country_ds_id', ], 
'fk7' : [ 'classification_ds_country', 'country_iso_id', 'classification_iso_country', 'country_iso_id', ], 
'fk8' : [ 'yearly_accounting', 'document_currency_iso_id', 'classification_iso_currency', 'currency_iso_id', ], 
'fk9' : [ 'exchange_rates', 'ds_currency_serie_id', 'classification_iso_currency', 'ds_currency_serie_usd_id', ], 
'fk10' : [ 'c_iso_country_currency', 'currency_iso_id', 'classification_iso_currency', 'currency_iso_id', ], 
'fk11' : [ 'c_iso_country_currency', 'country_iso_id', 'classification_iso_country', 'country_iso_id', ], 
'fk12' : [ 'yearly_accounting', 'datastream_id', 'companies_esg_refinitiv', 'datastream_id', ], 
'fk13' : [ 'monthly_esg', 'datastream_id', 'companies_esg_refinitiv', 'datastream_id', ], 
'fk14' : [ 'daily_market', 'datastream_id', 'companies_esg_refinitiv', 'datastream_id', ], 
'fk15' : [ 'company_country', 'datastream_id', 'companies_esg_refinitiv', 'datastream_id', ], 
'fk16' : [ 'economic_series', 'country_iso_id', 'classification_iso_country', 'country_iso_id', ], 
}

<body> <p  style = "font-family:georgia,garamond,serif;font-size:16px;text-align:justify"></body>
We send the instructon to create the foreign key constraint of our database.

In [48]:
for fk in fk_dict:    
    cur.execute("""
       ALTER TABLE %s ADD CONSTRAINT %s FOREIGN KEY (%s)
       REFERENCES %s (%s);"""  % (fk_dict[fk][0], fk, fk_dict[fk][1], fk_dict[fk][2], fk_dict[fk][3]))
    
    # ALTER TABLE "company_general_information" ADD CONSTRAINT "fk1" FOREIGN KEY ("datastream_id")
    # REFERENCES "monthly_esg_scores" ("datastream_id");""" )
    
conn.commit()

<body> <p  style = "font-family:georgia,garamond,serif;font-size:16px;text-align:justify"></body>
..

In [ ]:
os.system('shutdown -s')

In [39]:
conn.rollback()